<h3><%=h sidebar.title %></h3>
<div>
    <ul>
        <% for comment in sidebar.comments -%>
            <li>
                <% title = ''; title << 'by ' + comment.author if sidebar.show_username -%>
                <% title << ' on ' + comment.article.title if sidebar.show_article -%>				
                <%= link_to_permalink comment,h(title) %>
            </li>
        <% end %>
		<% debugger %>
    </ul>
</div>
